body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background-color: #f7fdf9;
  color: #333;
  direction: rtl;
  text-align: center;
}

header {
  background-color: #65E6A4;
  padding: 30px 10px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

h1 {
  font-size: 32px;
  color: #fff;
  margin: 0;
}

h2 {
  font-size: 26px;
  color: #16804a;
  margin: 40px 0 20px;
}

section {
  padding: 20px;
}

.about p {
  max-width: 700px;
  margin: 0 auto;
  font-size: 18px;
}

.video-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

video {
  width: 300px;
  border-radius: 10px;
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 0 40px;
}

.review-grid img {
  width: 100%;
  border-radius: 12px;
  border: 2px solid #65E6A4;
}

.whatsapp-button {
  display: inline-block;
  background-color: #25D366;
  color: white;
  padding: 14px 30px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  margin: 20px 0;
  transition: 0.3s;
}

.whatsapp-button:hover {
  background-color: #1da851;
}

.socials a {
  margin: 0 10px;
  text-decoration: none;
  color: #16804a;
  font-weight: bold;
}

footer {
  background-color: #65E6A4;
  color: #fff;
  padding: 15px 10px;
  margin-top: 30px;
}
